# Example .env file for Budzetownik backend
# Fill in your real values and rename this file to .env
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>"
DATABASE_URL_TEST="postgresql://<username>:<password>@<host>:<port>/<database>_test"

EXPIRY_TIME_MS=3600000

REDIS_HOST=localhost
REDIS_PORT=6379

NODE_ENV=development
PORT=5001

EMAIL_PORT=587
EMAIL_FROM="Budzetownik <your@email.com>"
EMAIL_HOST=smtp.example.com
EMAIL_USER=your@email.com
EMAIL_PASS=your-email-password

JWT_SECRET=your-jwt-secret-key
